<!--include header-->
<%- include('include/_header') %>
<!-- /include header -->

<!-- main section -->

<div class="container">
    <a href="/" type="button" class="btn btn-outline-dark btn-lg my-5">All Users</a>
    <% if(typeof alert!= 'undefined'){%>
    <% alert.forEach(function(err){%>
        <div class="alert alert-danger" role="alert">
            <%= err.msg%>
          </div>
    
    <% })} %>

    <%- include('include/_form') %>
</div>

<!-- /main section -->

<!--include footer-->
<%- include('include/_footer') %>
<!-- /include footer -->