<form action="/api/users" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control my-3" name="name" id="name"  placeholder="Enter Name">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control my-3"  name="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control my-3" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Role</label>
        <select name="role" class="form-select my-3" aria-label="Default select example">
            <option selected>Select from list</option>
            <option value="Manager">Manager</option>
            <option value="Team Lead">Team Lead</option>
            <option value="Scrum Master">Scrum Master</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-dark btn-lg my-3">Save</button>
  </form>